@import '../../../styles/variables/index.less';

@carousel-prefix-cls: ~'@{rain-prefix}-carousel';

.@{carousel-prefix-cls} {
  &-wrap {
    position: relative;
    overflow: hidden;
  }

  &-inner-wrapper {
    display: flex;
    white-space: nowrap;
  }
  &-dots {
    position: absolute;
    bottom: 12px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    cursor: pointer;
    .@{carousel-prefix-cls}-dot {
      width: 16px;
      height: 3px;
      margin: 0 3px;
      background-color: #fff;
      opacity: 0.3;
      transition: all 0.5s;
      &.@{carousel-prefix-cls}-active {
        width: 24px;
        opacity: 1;
      }
    }
  }
  &-arrow-left,
  &-arrow-right {
    position: absolute;
    top: 50%;
    width: 28px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    cursor: pointer;
    transition: all @default-transition;
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 13px;
      height: 13px;
      margin: auto;
      border: 1px solid #fff;
      transform: rotate(45deg);
      content: '';
    }
  }
  &-arrow-left {
    left: -28px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-right-radius: @border-radius-base;
    border-bottom-right-radius: @border-radius-base;
    &&-show {
      left: 0;
    }
    &::after {
      left: 10px;
      border-top-color: transparent;
      border-right-color: transparent;
    }
  }
  &-arrow-right {
    right: -28px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    &&-show {
      right: 0;
    }
    &::after {
      right: 10px;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
  }
  &-item-wrap {
    float: left;
  }
}
