@import '../../../styles/variables/index.less';
@popupPrefix: rain-btn;
.@{popupPrefix} {
  --rain-btn-small-height: 24px;
  --rain-btn-default-height: 32px;
  --rain-btn-large-height: 40px;
  --rain-btn-small-padding: 0 7px;
  --rain-btn-default-padding: 4px 15px;
  --rain-btn-large-padding: 6px 16px;
  --rain-btn-small-font-size: 14px;
  --rain-btn-default-font-size: 14px;
  --rain-btn-large-font-size: 16px;
  --rain-btn-line-height: 1.575;
}
@small-height: var(--rain-btn-small-height);
@default-height: var(--rain-btn-default-height);
@large-height: var(--rain-btn-large-height);
@small-padding: var(--rain-btn-small-padding);
@default-padding: var(--rain-btn-default-padding);
@large-padding: var(--rain-btn-large-padding);
@small-font-size: var(--rain-btn-small-font-size);
@default-font-size: var(--rain-btn-default-font-size);
@large-font-size: var(--rain-btn-large-font-size);
@line-height: var(--rain-btn-line-height);

.make-color(@i:length(@preset-colors)) when(@i>0) {
  .make-color(@i - 1);
  @type: extract(@preset-colors, @i);
  @mainColor: '@{type}-color';
  @hoverColor: '@{type}-color-hover';
  @activeColor: '@{type}-color-active';
  @shadowColor: '@{type}-color-outline';
  @loadingColor: '@{type}-color-3';
  @loadingHover: '@{type}-color-2';
  @loadingActive: '@{type}-color-4';

  &-@{type} {
    color: #fff;
    background-color: @@mainColor;
    border: none;
    &:hover {
      color: #fff;
      background-color: @@hoverColor;
    }
    &:active {
      color: #fff;
      background-color: @@activeColor;
    }
    &[data-has-shadow='true'] {
      box-shadow: 0 0 0 4px @@shadowColor;
    }
    &.@{popupPrefix}-ghost {
      color: @@mainColor;
      background-color: transparent;
      border: 1px solid @@mainColor;
      &:hover {
        color: @@hoverColor;
        border-color: @@hoverColor;
      }
      &:active {
        color: @@activeColor;
        border-color: @@activeColor;
      }
      &.@{popupPrefix}-loading {
        background-color: transparent;
        &:hover {
          color: @@hoverColor;
          background-color: transparent;
          border-color: @@hoverColor;
        }
        &:active {
          color: @@activeColor;
          background-color: transparent;
          border-color: @@activeColor;
        }
      }
      &.@{popupPrefix}-danger {
        color: @error-color;
        border-color: @error-color;
        &:hover {
          color: @error-color-hover;
          border-color: @error-color;
        }
        &:active {
          color: @error-color-active;
          border-color: @error-color-active;
        }
      }
    }
    &.@{popupPrefix}-loading {
      background-color: @@loadingColor;
      cursor: default;
      &:hover {
        background-color: @@loadingHover;
      }
      &:active {
        background-color: @@loadingActive;
      }
    }
  }
}
.@{popupPrefix} {
  display: inline-block;
  font-weight: 400;
  font-size: @default-font-size;
  line-height: @line-height;
  border: 1px solid @border-color-base;
  cursor: pointer;
  transition: all @default-transition;
  &-default {
    height: @default-height;
    padding: @default-padding;
    color: @text-color;
    background: @background-color-base;
    border-radius: @border-radius-base;
    &:hover {
      color: @primary-color-hover;
      border-color: @primary-color-hover;
    }
    &:active {
      color: @primary-color-active;
      border-color: @primary-color-active;
    }
    &[data-has-shadow='true'] {
      box-shadow: 0 0 0 4px @primary-color-outline;
    }
  }

  // types
  &&-dashed {
    border-style: dashed;
    &.@{popupPrefix}-ghost {
      color: @neutral-color-3;
      background-color: transparent;
      border-color: @neutral-color-3;
      &:hover {
        color: @primary-color-hover;
        border-color: @primary-color-hover;
      }
      &:active {
        color: @primary-color-active;
        border-color: @primary-color-active;
      }
    }
    &.@{popupPrefix}-danger {
      color: @error-color;
      background-color: transparent;
      border-color: @error-color;
      &:hover {
        color: @error-color-hover;
        background-color: transparent;
        border-color: @error-color;
      }
      &:active {
        color: @error-color-active;
        background-color: transparent;
        border-color: @error-color-active;
      }
    }
    &&[disabled] {
      color: @border-color-base;
      background: @background-color-base;
      border: 1px dashed @border-color-base;
    }
  }
  &&-link {
    color: @primary-color;
    background-color: transparent;
    border: none;
    &:hover {
      color: @primary-color-hover;
    }
    &.@{popupPrefix}-danger {
      color: @error-color;
      background-color: transparent;
      &:hover {
        color: @error-color-hover;
        background-color: transparent;
      }
    }
    &&[disabled] {
      color: @border-color-base;
      background-color: transparent;
      border: none;
      pointer-events: none;
    }
  }
  &&-text {
    color: @text-color;
    background-color: transparent;
    border: none;
    box-shadow: none;
    &&[disabled] {
      background-color: transparent;
      border: none;
    }
    &&.@{popupPrefix}-danger {
      color: @error-color;
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
      &[data-has-shadow='true'] {
        box-shadow: none;
      }
    }
  }
  .make-color();
  // size
  &-small {
    height: @small-height;
    padding: @small-padding;
    font-size: @small-font-size;
  }
  &-large {
    height: @large-height;
    padding: @large-padding;
    font-size: @large-font-size;
  }
  &-circle {
    border-radius: 50%;
  }
  &-loading {
    cursor: default;
  }
  &-danger {
    color: #fff;
    background-color: @error-color;
    border-color: @error-color;
    &:hover {
      background-color: @error-color-hover;
    }
    &:active {
      background-color: @error-color-active;
    }
    &[data-has-shadow='true'] {
      box-shadow: 0 0 0 4px @error-color-outline;
    }
  }
  &[disabled] {
    color: @border-color-base;
    background: @background-color-base;
    border: 1px solid @border-color-base;
    cursor: not-allowed;
  }
}
.@{popupPrefix}-compact {
  --rain-btn-small-height: 20px;
  --rain-btn-default-height: 28px;
  --rain-btn-large-height: 32px;
  --rain-btn-small-padding: 0 7px;
  --rain-btn-default-padding: 3px 11px;
  --rain-btn-large-padding: 4px 13px;
  --rain-btn-small-font-size: 12px;
  --rain-btn-default-font-size: 12px;
  --rain-btn-large-font-size: 14px;
  --rain-btn-line-height: 1.667;
}

// shape
.@{popupPrefix}-round {
  border-radius: @default-height;
}
.@{popupPrefix}-small.@{popupPrefix}-round {
  border-radius: @small-height;
}
.@{popupPrefix}-large.@{popupPrefix}-round {
  border-radius: @large-height;
}
.@{popupPrefix}-circle {
  width: @default-height;
  padding: 0;
}
.@{popupPrefix}-small.@{popupPrefix}-circle {
  width: @small-height;
  padding: 0;
}
.@{popupPrefix}-large.@{popupPrefix}-circle {
  width: @large-height;
  padding: 0;
}

// common
a.@{popupPrefix} {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: default;
  transition: all 0.3s ease-in-out;
  touch-action: manipulation;
}
a {
  text-decoration: none;
}
