@import '../../../styles/variables/index.less';

@drawer-prefix-cls: ~'@{rain-prefix}-drawer';
@drawer-direction: left, right, top, bottom;

.@{drawer-prefix-cls} {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  inset: 0;
  &-mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.45);
    pointer-events: auto;
    inset: 0;
  }

  &-content-wrapper {
    position: absolute;
    z-index: 1000;
    box-shadow: -6px 0 16px -8px #00000014, -9px 0 28px #0000000d, -12px 0 48px 16px #00000008;
  }

  &-content {
    width: 100%;
    height: 100%;
    color: @neutral-color-12;
    background-color: @neutral-color-3;
    pointer-events: auto;
  }

  &-wrapper-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: 16px 24px;
    font-size: 16px;
    border-bottom: 1px solid @border-color-base;
    &-title {
      display: flex;
      flex: 1;
      align-items: center;
      font-weight: 500;
    }
  }

  &-close {
    width: 22px;
    height: 22px;
    margin-right: 12px;
    color: @neutral-color-7;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    border-radius: @border-radius-base;
    transition: all @default-transition;

    &:hover {
      color: @neutral-color-12;
      background-color: @neutral-color-5;
      cursor: pointer;
    }
  }

  &-body {
    flex: 1;
    padding: 24px;
    font-size: 14px;
  }

  &-footer {
    flex-shrink: 0;
    padding: 16px;
    border-top: 1px solid @border-color-base;
  }

  &-compact {
    .@{drawer-prefix-cls}-header,
    .@{drawer-prefix-cls}-footer {
      padding: 11px 16px;
      font-size: 14px;
    }
    .@{drawer-prefix-cls}-body {
      padding: 16px;
      font-size: 12px;
    }
    .@{drawer-prefix-cls}-close {
      width: 20px;
      height: 20px;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &-mask-animation-enter,
  &-mask-animation-appear {
    opacity: 0;
  }

  &-mask-animation-enter-active,
  &-mask-animation-appear-active {
    opacity: 1;
    transition: opacity 0.3s @default-transition-cubic;
  }

  &-mask-animation-exit {
    opacity: 1;
  }

  &-mask-animation-exit-active {
    opacity: 0;
    transition: opacity 0.3s @default-transition-cubic;
  }

  each(@drawer-direction, {
  	@animation-translate: if('@{value}'='left',
        translate(-100%,0), 
            if('@{value}'='right',translate(100%,0),
                if('@{value}'='top',translate(0,-100%),
                  translate(0,100%))));

  	&-content-wrapper-@{value} {
  		@{value}: 0;
  	}
  	&-animation-@{value}-enter,
  	&-animation-@{value}-appear {
  		transform: @animation-translate;
  	}
  	&-animation-@{value}-enter-active,
  	&-animation-@{value}-appear-active {
  	transform: translate(0, 0);
  		transition: all 0.3s @default-transition-cubic;
  	}
  	&-animation-@{value}-exit {
  		transform: translate(0, 0);
  	}
  	&-animation-@{value}-exit-active {
  		  		transform: @animation-translate;
  		transition: all 0.3s @default-transition-cubic;
    }
  });
}
