$popupPrefix: xy-message;
$shadow-color: rgba(0, 0, 0, 0.15);

$shadow: 0 4px 12px $shadow-color;

.#{$popupPrefix} {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: fixed;
  top: 8px;
  left: 0;
  z-index: 1010;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: center;

  &-notice {
    padding: 8px;
    text-align: center;
    &:first-child {
      margin-top: -8px;
    }
  }

  &-notice-content {
    border-radius: 2px;
    box-shadow: $shadow;
    display: inline-block;
    pointer-events: all;
  }

  &-custom-content {
    padding: 10px 20px;
  }

  &-success {
    background: green;
    color: #fff;
  }

  &-error {
    background: red;
    color: #fff;
  }

  &-warning {
    background: yellow;
    color: #fff;
  }

  .#{$popupPrefix}-move-up-leave.#{$popupPrefix}-move-up-leave-active.#{$popupPrefix}-hook-holder {
    animation-name: MessageMoveOut;
    animation-duration: 0.3s;
  }

  &-notice.#{$popupPrefix}-move-up-leave.#{$popupPrefix}-move-up-leave-active {
    animation-name: MessageMoveOut;
    animation-duration: 0.3s;
  }
}

@keyframes MessageMoveOut {
  0% {
    max-height: 150px;
    padding: 8px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    padding: 0;
    opacity: 0;
  }
}
