:root {
  --rain-primary-color: #5e7ce0; // 全局主色
  --rain-primary-color-hover: #8aa4ed; // 全局主色-hover
  --rain-primary-color-active: #455cba; // 全局主色-active
  --rain-primary-color-outline: #5e7ce033;
  --rain-success-color: #50d4ab; // 成功色
  --rain-success-color-hover: #79e0bc; // 成功色-hover
  --rain-success-color-active: #39ad8c; // 成功色-active
  --rain-success-color-outline: #50d4ab33; // 成功色-outline
  --rain-warning-color: #fac20a; // 警告色
  --rain-warning-color-hover: #ffd633; // 警告色-hover
  --rain-warning-color-active: #d49b00; // 警告色-active
  --rain-warning-color-outline: #fac20a33; // 警告色-outline
  --rain-error-color: #f66f6a; // 错误色
  --rain-error-color-hover: #ff9d96; // 错误色-hover
  --rain-error-color-active: #cf4e4e; // 错误色-active
  --rain-error-color-outline: #f66f6a33; // 错误色-outline
  // 以下为 primary色调对应的色板
  --rain-primary-color-1: #f0f6ff;
  --rain-primary-color-2: #f0f5ff;
  --rain-primary-color-3: ##e6eeff;
  --rain-primary-color-4: #b9ccfa;
  --rain-primary-color-5: var(--rain-primary-color-hover);
  --rain-primary-color-6: var(--rain-primary-color);
  --rain-primary-color-7: var(--rain-primary-color-active);
  --rain-primary-color-8: #2f4094;
  --rain-primary-color-9: #1e286e;
  /* stylelint-disable-next-line color-hex-length */
  --rain-primary-color-10: #131847;
  // 以下为 success 色调对应的色板
  --rain-success-color-1: #f0fff8;
  --rain-success-color-2: #f0fff8;
  --rain-success-color-3: #d7faeb;
  --rain-success-color-4: #a6edd2;
  --rain-success-color-5: var(--rain-success-color-hover);
  --rain-success-color-6: var(--rain-success-color);
  --rain-success-color-7: var(--rain-success-color-active);
  --rain-success-color-8: #26876f;
  --rain-success-color-9: #166151;
  --rain-success-color-10: #0d3b32;
  // 以下为 warning 色调对应的色板
  --rain-warning-color-1: #fffde6;
  --rain-warning-color-2: #fff7ad;
  --rain-warning-color-3: #ffef85;
  --rain-warning-color-4: #ffd666;
  --rain-warning-color-5: var(--rain-success-color-hover);
  --rain-warning-color-6: var(--rain-success-color);
  --rain-warning-color-7: var(--rain-success-color-active);
  --rain-warning-color-8: #ad7900;
  --rain-warning-color-9: #875a00;
  --rain-warning-color-10: #613d00;
  // 以下为 error 色调对应的色板
  --rain-error-color-1: #fff3f0;
  --rain-error-color-2: #fff2f0;
  --rain-error-color-3: #ffebe8;
  --rain-error-color-4: #ffc6bf;
  --rain-error-color-5: var(--rain-success-color-hover);
  --rain-error-color-6: var(--rain-success-color);
  --rain-error-color-7: var(--rain-success-color-active);
  --rain-error-color-8: #a8383b;
  --rain-error-color-9: #820014;
  --rain-error-color-10: #82242b;
  // 中性色板
  --rain-neutral-color-1: #fff;
  --rain-neutral-color-2: #fafafa;
  --rain-neutral-color-3: #f5f5f5;
  --rain-neutral-color-4: #f0f0f0;
  --rain-neutral-color-5: #d9d9d9;
  --rain-neutral-color-6: #bfbfbf;
  --rain-neutral-color-7: #8c8c8c;
  --rain-neutral-color-8: #595959;
  --rain-neutral-color-9: #434343;
  --rain-neutral-color-10: #262626;
  --rain-neutral-color-11: #1f1f1f;
  --rain-neutral-color-12: #141414;
  --rain-neutral-color-13: #000;
}
@primary-color: var(--rain-primary-color);
@primary-color-hover: var(--rain-primary-color-hover);
@primary-color-active: var(--rain-primary-color-active);
@primary-color-outline: var(--rain-primary-color-outline);

@success-color: var(--rain-success-color);
@success-color-hover: var(--rain-success-color-hover);
@success-color-active: var(--rain-success-color-active);
@success-color-outline: var(--rain-success-color-outline);

@warning-color: var(--rain-warning-color);
@warning-color-hover: var(--rain-warning-color-hover);
@warning-color-active: var(--rain-warning-color-active);
@warning-color-outline: var(--rain-warning-color-outline);

@error-color: var(--rain-error-color);
@error-color-hover: var(--rain-error-color-hover);
@error-color-active: var(--rain-error-color-active);
@error-color-outline: var(--rain-error-color-outline);

@primary-color-1: var(--rain-primary-color-1);
@primary-color-2: var(--rain-primary-color-2);
@primary-color-3: var(--rain-primary-color-3);
@primary-color-4: var(--rain-primary-color-4);
@primary-color-5: var(--rain-primary-color-5);
@primary-color-6: var(--rain-primary-color-6);
@primary-color-7: var(--rain-primary-color-7);
@primary-color-8: var(--rain-primary-color-8);
@primary-color-9: var(--rain-primary-color-9);
@primary-color-10: var(--rain-primary-color-10);

@success-color-1: var(--rain-success-color-1);
@success-color-2: var(--rain-success-color-2);
@success-color-3: var(--rain-success-color-3);
@success-color-4: var(--rain-success-color-4);
@success-color-5: var(--rain-success-color-5);
@success-color-6: var(--rain-success-color-6);
@success-color-7: var(--rain-success-color-7);
@success-color-8: var(--rain-success-color-8);
@success-color-9: var(--rain-success-color-9);
@success-color-10: var(--rain-success-color-10);

@warning-color-1: var(--rain-warning-color-1);
@warning-color-2: var(--rain-warning-color-2);
@warning-color-3: var(--rain-warning-color-3);
@warning-color-4: var(--rain-warning-color-4);
@warning-color-5: var(--rain-warning-color-5);
@warning-color-6: var(--rain-warning-color-6);
@warning-color-7: var(--rain-warning-color-7);
@warning-color-8: var(--rain-warning-color-8);
@warning-color-9: var(--rain-warning-color-9);
@warning-color-10: var(--rain-warning-color-10);

@error-color-1: var(--rain-error-color-1);
@error-color-2: var(--rain-error-color-2);
@error-color-3: var(--rain-error-color-3);
@error-color-4: var(--rain-error-color-4);
@error-color-5: var(--rain-error-color-5);
@error-color-6: var(--rain-error-color-6);
@error-color-7: var(--rain-error-color-7);
@error-color-8: var(--rain-error-color-8);
@error-color-9: var(--rain-error-color-9);
@error-color-10: var(--rain-error-color-10);

@neutral-color-1: var(--rain-neutral-color-1);
@neutral-color-2: var(--rain-neutral-color-2);
@neutral-color-3: var(--rain-neutral-color-3);
@neutral-color-4: var(--rain-neutral-color-4);
@neutral-color-5: var(--rain-neutral-color-5);
@neutral-color-6: var(--rain-neutral-color-6);
@neutral-color-7: var(--rain-neutral-color-7);
@neutral-color-8: var(--rain-neutral-color-8);
@neutral-color-9: var(--rain-neutral-color-9);
@neutral-color-10: var(--rain-neutral-color-10);
@neutral-color-11: var(--rain-neutral-color-11);
@neutral-color-12: var(--rain-neutral-color-12);
@neutral-color-13: var(--rain-neutral-color-13);
