@rain-prefix: rain;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
a {
  color: @primary-color;
}

@preset-colors: primary, warning, success, error;
@default-transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
@default-transition-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

@import 'color.less';
@import 'text.less';
