:root {
  --rain-font-size-base: 14px; // 主字号
  --rain-heading-color: rgba(0, 0, 0, 0.85); // 标题色
  --rain-text-color: rgba(0, 0, 0, 0.65); // 主文本色
  --rain-text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
  --rain-disabled-color: rgba(0, 0, 0, 0.25); // 失效色
  --rain-border-radius-base: 2px; // 组件/浮层圆角
  --rain-border-color-base: #d9d9d9; // 边框色
  --rain-box-shadow-base: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影
}
@font-size-base: var(--rain-font-size-base);
@heading-color: var(--rain-heading-color);
@text-color: var(--rain-text-color);
@text-color-secondary: var(--rain-text-color-secondary);
@disabled-color: var(--rain-disabled-color);
@border-radius-base: var(--rain-border-radius-base);
@border-color-base: var(--rain-border-color-base);
@box-shadow-base: var(--rain-box-shadow-base);
